[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pylint = "*"

[packages]
dash = "==1.9.1"
dash-bootstrap-components = "*"
gunicorn = "*"
plotly = "*"
pandas = "*"
joblib = "==0.14.0"
scikit-learn = "==0.23.2"
category-encoders = "==2.2.2"

[requires]
python_version = "3"
